// @use "../../utils/functions/" as *;
// @use "../../utils/mixins" as *;

// .choose {
//   &__item {
//     position: relative;
//     padding: 40px 30px;
//     background-color: rgba(255, 255, 255, 0.2);
//     backdrop-filter: blur(24px);

//     &::before {
//       content: "";
//       position: absolute;
//       left: 30px;
//       top: 55px;
//       width: 108px;
//       height: 108px;
//       background-image: url("../images/icons/expert.svg");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }

//     &--small {
//       background-color: rgba(255, 255, 255, 0.1);

//       &::before {
//         background-image: url("../images/icons/small.svg");
//       }
//     }

//     &--travel {
//       background-color: rgba(255, 255, 255, 0.05);

//       &::before {
//         background-image: url("../images/icons/travel.svg");
//       }
//     }

//     &--luxurius {
//       background-color: rgba(255, 255, 255, 0.03);

//       &::before {
//         background-image: url("../images/icons/luxurius.svg");
//       }
//     }
//   }

//   &__desc {
//     padding-left: 140px;
//   }

//   h3 {
//     margin-bottom: 25px;
//   }

//   .title {
//     margin-bottom: 50px;
//   }

//   @include media(tablet) {
//     &__item {
//       padding: 16px;

//       &::before {
//         width: 50px;
//         height: 50px;
//       }
//     }

//     &__desc {
//       padding-left: 95px;
//     }

//     .title {
//       margin-bottom: 30px;
//     }
//   }

//   @include media(mobile-l) {
//     &__item {
//       &::before {
//         position: relative;
//         display: block;
//         margin-bottom: 15px;
//         left: 50%;
//         top: 0;
//         transform: translateX(-50%);
//       }
//     }

//     &__desc {
//       padding: 0;
//     }

//     h3 {
//       margin-bottom: 16px;
//     }
//   }
// }
