@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;

  padding-bottom: 55px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 64;
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 978px;
    gap: 24px;

    &--reverse {
      align-items: center;
      margin-left: auto;
    }
  }

  &__desc {
    width: 100%;
    max-width: 422px;
  }

  .content {
    margin-bottom: 29px;

    h2 {
      margin-bottom: 8px;
    }
  }

  @include media(tablet) {
    padding-bottom: 30px;

    &__list {
      gap: 24px;
    }

    &__item {
      flex-direction: column;
      max-width: 100%;

      &--reverse {
        align-items: normal;
      }
    }

    &__desc {
      max-width: 100%;
    }
  }
}
