@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;
  padding-bottom: 55px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 64;
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 978px;
    gap: 24px;

    &--reverse {
      margin-left: auto;
      align-items: center;
    }
  }

  &__desc {
    width: 100%;
    max-width: 422px;
  }

  .content {
    margin-bottom: 29px;

    h2 {
      margin-bottom: 8px;
    }
  }
}
