/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid transparent;
  border-radius: var(--radius-big);
  padding: 11px 23px;
  width: 100%;
  max-width: fit-content;
  font-family: inherit;
  font-weight: var(--fw-600);
  line-height: 1.1;
  color: var(--color-white);
  background-color: var(--color-green-300);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border-color: var(--color-white);
    background-color: var(--color-blue-300);
  }

  &--request {
  color: var(--color-white) !important;
  background-color: var(--color-green-300);

     &::before {
      @include bg-cover;

      position: relative;
      width: 21px;
      height: 24px;
      background-image: url("../images/icons/btn.svg");
    }

    &:hover,
    &:focus {
      border-color: var(--color-white);
      background-color: var(--color-blue-300);
    }
  }

  &--sign {
    border-color: currentColor;
    color: var(--color-white);
    background-color: transparent;
  }

  &--arrow {
    position: relative;
    z-index: 1;
    margin-bottom: 22px;
    justify-content: flex-end;
    border-color: var(--color-white);
    background-color: var(--color-white);
    gap: 8px;

    // &::before {
    //   @include bg-cover;

    //   position: relative;
    //   width: 21px;
    //   height: 24px;
    //   background-image: url("../images/icons/btn.svg");
    // }
  }

  // &--big {
  //   padding: 19px 31px;
  //   min-width: 225px;
  // }
}
