@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.reviews {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  li {
    overflow: hidden;
    border: 1px solid rgba(38, 160, 116, 0.24);
    border-radius: 16px;
    padding: 24px;
  }

  img {
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 50%;
  }

  h2 {
    margin: 0 auto 64px;
    text-align: center;
  }

  h3 {
    margin-bottom: 24px;
  }
}
