@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.tours {
  $root: &;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  &__content {
    margin: 0 auto 36px;
    width: 100%;
    max-width: 390px;
    text-align: center;

    h2 {
      margin-bottom: 15px;
    }

    h3 {
      font-size: 16px;
    }
  }

  &--home {
    .cards {
      span {
        display: none;
      }
    }
  }

  &--main {
    #{$root}__list {
      gap: 48px 25px;
    }

    .content {
      margin-bottom: 40px;
    }
  }

  @include media(tablet) {
    #{$root}__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }

    li {
      &:last-child {
        grid-column: 2 span;

        img {
          aspect-ratio: 2/1;
        }
      }

      .cards__content {
        height: auto;
      }
    }

    &--main {
      li {
        &:last-child {
          grid-column: auto;
        }
      }
    }

    .content {
      margin-bottom: 30px;
    }
  }

  @include media(mobile-l) {
    #{$root}__list {
      grid-template-columns: 1fr;

      li {
        img {
          aspect-ratio: 2/1;
        }
        &:last-child {
          grid-column: auto;
        }
      }
    }
  }

  @include media(mobile-m) {
    .btn {
      max-width: 100%;
    }
  }
}
