@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.trip {
  padding-bottom: 58px;

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__list {
    display: grid;
    gap: 24px;
  }

  .title {
    margin-bottom: 48px;
  }

  h3 {
    font-size: 16px;
  }

  @include media(tablet) {
    padding-bottom: 30px;

    &__inner {
      grid-template-columns: 1fr;
    }

    .title {
      margin-bottom: 30px;
    }
  }
}
