@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.approach {
  background-color: rgba(38, 160, 116, 0.2);

  &__list {
    counter-reset: counter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  li {
    counter-increment: counter;
    overflow: hidden;
    border-radius: var(--radius-big);
    padding: 24px;
    background-color: var(--color-gray-50);

    &::before {
      content: counter(counter);
      position: relative;
      display: block;
      margin-bottom: 37px;
      font-weight: var(--fw-600);
      font-size: clamp(1.5625rem, 1.3333rem + 1.0185vi, 2.25rem);
      color: var(--color-dark-900);
      backdrop-filter: blur(5px);
    }
  }

  .title {
    margin-bottom: 48px;
  }

  h3 {
    margin-bottom: 24px;
    font-size: 18px;
  }

  @include media(tablet) {
    li {
      padding: 16px;

      &::before {
        margin-bottom: 16px;
      }

      h3 {
        margin-bottom: 16px;
      }
    }

    .title {
      margin-bottom: 36px;
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      &:last-child {
        grid-column: 2 span;
      }
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;

      li {
        &:last-child {
          grid-column: auto;
        }
      }
    }
  }
}
