@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .subtitle {
    margin-bottom: 4px;
  }

  .overlay {
    margin-bottom: 16px;
  }

  span {
    display: block;
    margin-bottom: 26px;
    font-size: 14px;
    color: rgba(21, 20, 57, 0.4);
  }

  @include media(tablet) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:last-child {
        grid-column: 2 span;

        img {
          width: 100%;
          aspect-ratio: 2/1;
        }
      }
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      img {
        width: 100%;
        aspect-ratio: 2/1;
      }

      &:last-child {
        grid-column: auto;
      }
    }
  }
}
