@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .subtitle {
    margin-bottom: 4px;
  }

  .overlay {
    margin-bottom: 16px;
  }

  h2 {
    margin-inline: auto;
    text-align: center;
  }

  span {
    display: block;
    margin-bottom: 26px;
    font-size: 14px;
    opacity: 0.4;
  }
}
