@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

h1,
h2,
h3 {
  overflow: hidden;
  font-family: var(--font-family-secondary);
  font-weight: var(--fw-700);
  font-size: clamp(2.1875rem, 1.6696rem + 2.5893vi, 4rem);
  line-height: 1.25;
  color: var(--color-white);
}

h1 {
  letter-spacing: 0;
}

h2 {
  margin-bottom: 64px;
  font-size: clamp(1.5625rem, 1.4732rem + 0.4464vi, 1.875rem);
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-dark-900);
}

h3 {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: var(--color-green-300);
}

.subtitle {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-600);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-dark-900);
}
